{% extends 'base.html' %}
{% block title %}
    个人资料
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{% static 'user_info.css' %}">
    <div class="containter">
        <div class="row">
            <div class="col-xs-1 user_div_ji" style="background-color: cornsilk;"></div>
            <div class="col-xs-6 user_left_box col-lg-3 col-md-3">
                {% if user.is_authenticated %}
                    <h2>欢迎您： {{ user.username }}</h2>
                    <ul class="user_ul">
                        <li><img src="{{ user.get_user_head }}" class="img-rounded" width="140px" height="140px"><a href="{% url 'get_update_head' %}" class="user_change_head btn btn-default">修改头像</a></li>
                        <li>昵称：{{ user.get_nickname }}<a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}" class="btn btn-default user_change_head">修改昵称</a> </li>
                        <li>邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定 <a href="{% url 'bind_email' %}?from={{ request.get_full_path }}" class="btn btn-default user_change_head">绑定邮箱</a> {% endif %}</li>
                        <li>上一次登录的时间：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                        <li><a href="{% url 'change_password' %}" class="btn btn-default user_change_head">修改密码</a> </li>
                    </ul>
                {% else %}
                    <span>未登录，跳转到首页...</span>
                    <script type="text/javascript">
                        window.location.href = '/'
                    </script>
                {% endif %}
            </div>

            <div class="hidden-xs col-lg-8 col-md-7">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-lg-8 col-md-7">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-lg-8 col-md-7">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}